{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="main-banner" id="top">
        <div class="row justify-content-center">
            <div class="col-5">
                <div class="input-group">
                    <select class="form-select" aria-label="Default select example" id="article">
                        <option selected>Article gdpr</option>
                        {% for key, value in article %}
                            <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-outline-secondary" type="button" id="sArticle">Spiegazione articolo</button>
                </div>

            </div>
            <div class="text-center" id="buttons">
                <button type="button" class="btn btn-outline-dark text-light" data-mdb-ripple-init id="sendNotify">
                    Invia notifica
                </button>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Patterns</th>
                    <th scope="col">Article</th>
                </tr>
                </thead>
                <tbody id="bodyPatterns">
                    {% for p in patterns %}
                        <tr>
                            <th id="{{ p.id }}"><input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios{{ p.id }}" value="option1" checked><label class="form-check-label" for="exampleRadios{{ p.id }}" id="{{ p.id }}"></label></th>
                            <td>{{ p.patterns }}</td>
                            <td>
                                {% for a in p.articlegdpr_set.all %}
                                {{ a.article }}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="container">
        <p id="responseGpt"></p>
    </div>

{% endblock content %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/azienda.js' %}"></script>


{% endblock %}