{% extends "base.html" %}

{% block content %}
    <div class="main-banner" id="top">
        <div class="row justify-content-center mt-4">
            <div class="col-4">
                <div class="input-group mb-3 ">
                    <input type="text" class="form-control" placeholder="Cerca"
                           aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button type="button" class="btn btn-light" data-mdb-ripple-init>
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}